<section class="container">
  <header>Registration Form</header>
</section>
<form class="form" [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">
  <div class="column">
    <div class="input-box">
      <input type="text" placeholder="First name" formControlName="firstname"/><br>
      <small *ngIf="reactiveForm.get('firstname').invalid && reactiveForm.get('firstname').touched" >
        *First name is required in field!</small>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Last name" formControlName="lastname"/><br>
      <small *ngIf="reactiveForm.get('lastname').invalid && reactiveForm.get('lastname').touched" >
        *Last name is required in field!</small>
    </div>
  </div>
    <div class="input-box">
      <input type="email" placeholder="Email" formControlName="email"/><br>
      <small *ngIf="reactiveForm.get('email').invalid && reactiveForm.get('email').touched" >
        *Enter email is not valid</small>
    </div>
 
  <div class="column">
    <div class="input-box">
      <input type="text" placeholder="username" formControlName="username"/><br>
      <button class="btn-gen-username" type="button">Create a Username</button><br><br>
    </div>
  
  <div class="input-box">
    <input type="date" placeholder="Date Of Birth" formControlName="dob"/>
  </div>
  
</div>

<div class="gender-box">
  <h4>Gender</h4>
  <div class="gender-option">
    <div class="gender">
      <input type="radio" value="Male"  id="check-male" formControlName="gender"/>
      <label for="check-male">Male</label>
    </div>
    <div class="gender">
      <input type="radio" value="Female" id="check-female" formControlName="gender"/>
      <label for="check-female">Female</label>
    </div>
    <div class="gender">
      <input type="radio" value="Other" id="check-other" formControlName="gender"/>
      <label for="check-other">Other</label><br><br>
    </div>
  </div>
</div>


<div class="input-box address" formGroupName="address">
  <label for="">Address</label><br>
  <div class="column">
  <input type="text" placeholder="Street address.." formControlName="street" /><br>
  <small *ngIf="reactiveForm.get('address.street').invalid && reactiveForm.get('address.street').touched" >
    *Street is required in field!</small>
 
    <div class="select-box">
      <select name="country" formControlName="country">
        <option value="Myanmar">Myanmar</option>
        <option value="China">China</option>
        <option value="Thailand">Thailand</option>
      </select>
    </div>
  </div>
    <input type="text" formControlName="city" placeholder="City"/><br>
    <small *ngIf="reactiveForm.get('address.city').invalid && reactiveForm.get('address.city').touched" >
      *Street is required in field!</small>
</div>


<div class="input-box " formArrayName="skills">
  <h4>Add Skills</h4>
  <div class="skill" *ngFor="let control of reactiveForm.get('skills')['controls']; let i=index">
  <input class="skill-box " type="text" placeholder="Add skill...."
    [formControlName]="i"/>
    <button type="button" (click)="DeleteSkill(i)">Delete</button>
</div> 
</div>
<button type="button"  (click)="AddSkill()" >Add Skills</button><br><br>

<div class="input-box " formArrayName="experience">
  
  <div class="experience" *ngFor="let exp of reactiveForm.get('experience')['controls'];let i=index" [formGroupName]="i">
    <label >Experience {{i+1}}</label>
    <div class="column">
    <input type="number" placeholder="Experience..." formControlName="exp">
    <div class="select-box">
      <select formControlName="position">
      <option value="">Developer</option>
      <option value="">Engineer</option>
      <option value="">Analysis</option>
      <option value="">Designer</option>
    </select>
    </div>
  </div>
    <input type="text" placeholder="Company name..." formControlName="company">
    <button type="button" (click)="DeleteExperience(i)">Delete Experience</button>
  </div>
</div>
<button type="button"  (click)="AddExperience()" >Add Experience</button><br><br>

<button  type="submit" class="submit" [disabled]="!reactiveForm.valid" >Submit</button>

</form>